/* Click `index.html` to see the HTML. */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');
body {
    font-family: 'Roboto Slab', serif;
}
h1{
	font-size: 40px;
}
header{
	background-color: rgb(222, 171, 104);
	padding: 20px;
}
p { color: red; }
#introduction {
	color: rgb(25, 164, 34);
}
blockquote { color: blue; }
.highlight {
	color: rgb(255, 77, 0);
}